@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --w3o-background-color: #1a1d26;
  --w3o-foreground-color: #242835;
  --w3o-text-color: #eff1fc;
  --w3o-border-color: #33394b;
  --w3o-action-color: #929bed;
  --w3o-border-radius: 16px;
}

body {
  font-family: 'Arial, sans-serif';
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

h1 {
  color: #00FF00;
}

p {
  color: #FFFFFF;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#w3o-connect-modal {
  position: fixed !important;
  top: 20px !important;
  bottom: auto !important;
  right: 20px !important;
}